# Profiling results
profile_results/
profiler_test.m

# MATLAB autosave files
*.asv

# MATLAB temporary files
*.m~

# Output files
*.mat
!initial_data.mat

# Figures
*.fig
*.png
*.jpg
*.gif

# OS files
.DS_Store
Thumbs.db
# Log files
*.json
/Ucznir T5T04TC0
/Uczenie_T5T04TC4
/Uczenie_T5T04TC2
test_units.m
test_stan_value_calc.m
